@import "../layout/header";
@import "../layout/footer";
@import "../layout/localisation";
@import "../layout/info";
@import "../utils/variables";
@import "../components/bouttons";
@import "../layout/fonction";
@import "../layout/restaurant";